<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeDAO" class="net.deskplate.spring.jdbc.dao.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="employeeDAOJDBCTemplate" class="net.deskplate.spring.jdbc.dao.EmployeeDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/TestDB" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

</beans>

<!--
CREATE TABLE `Employee` (
	 ->   `id` int(11) unsigned NOT NULL,
	 ->   `name` varchar(20) DEFAULT NULL,
	 ->   `role` varchar(20) DEFAULT NULL,
	 ->   PRIMARY KEY (`id`)
	 -> ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
-->
